
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 10px 10px 10px 10px;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline {
    width: 0;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
    width: 337px;
}