<div class="main">
    <simple-notifications></simple-notifications>
    <form class="example-form" [formGroup]="formData" (ngSubmit)="onSubmit()">
  <div class="header">
    <nav
      class="container flex items-center justify-between h-full py-2 mx-auto center"
    >
    <button mat-button matTooltip="New Document" class="color-white action-button">
        <mat-icon aria-hidden="false"  aria-label="Example home icon">list</mat-icon>
    </button>
      <span class="text-white"></span>
      <div class="flex items-center">
        <span class=" px-4"><small>New Document View</small></span>
        <mat-slide-toggle> </mat-slide-toggle>
        <span class=" px-4"><small>Open in new tab</small></span>
        <mat-slide-toggle (toggleChange)="setBlankActive()"> </mat-slide-toggle>
        <button mat-button  class="color-white remove-button">
          <small>Remove Filters</small>
        </button>
        <a [routerLink]="['/sales/brands']" class="action-button" matTooltip="View Brand" target="{{targent_prop}}" rel="noopener noreferrer">
            <mat-icon aria-hidden="false"  aria-label="Example home icon">list</mat-icon>
        </a>
        <a (click)="DeletePaymentTerm()" *ngIf="editRoute" class="action-button" matTooltip="Delete Brand" target="{{targent_prop}}" rel="noopener noreferrer">
            <mat-icon aria-hidden="false"  aria-label="Example home icon">delete_outline</mat-icon>
        </a>
        <button type="submit" class="action-button" matTooltip="Save Brand"> <mat-icon aria-hidden="false"  aria-label="Example home icon">save</mat-icon></button>
        <a *ngIf="editRoute" [routerLink]="['/sales/brands/form']" class="action-button" matTooltip="New Brand" target="{{targent_prop}}" rel="noopener noreferrer">
           <mat-icon aria-hidden="false"  aria-label="Example home icon">note_add</mat-icon>
        </a>
      </div>
    </nav>
  </div>
  <div class="component">
    <div class="primaryHeader">
        <nav
        class="container flex items-center justify-between h-full py-2 mx-auto center"
        >
        <span class="text-white">Warehouse</span>
        </nav>
    </div>
    <div class="secondary-header">

            <div class="float-container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="float-child1">
                            <section class="col col-lg-3">
                                <label class="label">Code</label>
                            </section>
                            <section class="col col-lg-3">
                                <label class="label">Status</label>
                            </section>                   
                            <section class="col col-lg-3">
                                <label class="label">Description</label>
                            </section>
                        </div>
        
                        <div class="float-child2">
                            <section class="col col-lg-6">
                                <input class="form-control" formControlName="code" type="text" placeholder=" Number" name="code" readonly>
                            </section>
                            <section class="col col-lg-6">
                                <select name="status" id="status" formControlName="status">
                                    <option value="" selected disabled>Please Select... </option>
                                    <option *ngFor="let s of STATUS" [value]="s.name">{{s.name | titlecase}}</option>
                                </select>
                            </section>
                            <section class="col col-lg-6">
                                    <input class="form-control" formControlName="description" type="text" placeholder=" Description" name="description">
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="float-child3">
                            <mat-tab-group dynamicHeight>
                                <!-- Dynamic Content -->
                              <mat-tab label="Custom Column"> Add Dynamic Content </mat-tab>
                            </mat-tab-group>
                          </div>
                    </div>
                </div>
            </div>
    </div>
  </div>
</form>
</div>
